.header {
    padding: 1em 1em;
    text-align: center;
    border-bottom: 1px solid beige;
}
.header > h1 {
    cursor: pointer;
}
.body {
    padding: 1em;
}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/